%card {
    width: 416px;
    height: 264px;
    display: inline-block;
    background: #fff;
    border-radius: 24px;
    margin: 32px 8px 0;
    padding: 24px;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.15);
    %card__image {
        background-position: center;
        background-size: cover;
        width: 72px;
        height: 72px;
        border: 3px solid #fff;
        border-radius: 50%;
    }
}

.card {
    @extend %card;
}

.card__image {
    @extend %card__image;
}